<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <full_page_cache>
                <cloudflare>
                    <purge_mode>tags</purge_mode>
                    <enable_debug_header>0</enable_debug_header>
                </cloudflare>
            </full_page_cache>
        </system>
    </default>
</config>
